@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}
input:focus {
  border-color: #55dcaa;
}

/* body {
  padding-top: 40px;
  padding-bottom: 40px;
} */

.container-login {
  width: 570px;
  max-height: auto;
  background-color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  padding-top: 10px;
  margin: 0 auto;
}

.top-space {
  margin-top: 70px;
}

.header-logo{

}

.input-login-email {
  width: 450px;
  padding: 10px;
  margin-bottom: 10px;
  border: 0;
  border: 1px solid #c2bfbf;
  border-radius: 15px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}
.input-login-password {
  width: 450px;
  padding: 10px;
  margin-bottom: 10px;
  /* margin: 10px 0; */
  border: 0;
  border: 1px solid #c2bfbf;
  border-radius: 15px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

.btn-login {
  width: 450px;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  /* margin: 10px 0; */
  border: 0;
  border-radius: 25px;
  outline: none;
  border: 2px solid #55dcaa;
  background-color: #fff;
  margin-bottom: 20px;
}

.btn-login:hover,
.btn-login:focus {
  background-color: #55dcaa;
  cursor: pointer;
  color: #fff;
  border-color: #55dcaa;
}
.block-for-relative {
  width: 450px;
  padding: 15px;
}

.reset-password-parent {
  position: relative;
}
.forgot-password {
  position: absolute;
  bottom: -20px;
  right: 145px;
  font-family: inherit;
  text-decoration: none;
  margin-bottom: 15px;
}

/* ***********************************modal******************************************** */
.button-for-modal-block {
  display: flex;
  justify-content: flex-end;
}

.button-for-modal {
  width: 230px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  margin-right: 40px;
  margin-top: 15px;
  color: #fff;
  border: 0;
  border-radius: 25px;
  outline: none;
  border: 2px solid #55dcaa;
  background-color: #fff;
  margin-bottom: 20px;
  background-color: #55dcaa;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

/* .modal-content {
  padding-top: 70px;
} */

.hide {
  display: none;
}
.show {
  display: block;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
/* **************************************         tabs         *********************************************************** */

.tab-btns-block {
  width: 450px;
  height: auto;
  display: flex;
  justify-content: space-around;
}
.btn-tab-log {
  width: 150px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  padding: 13px;
  margin-bottom: 30px;
  border: 0;
  border-radius: 25px;
  outline: none;
  border: 2px solid #55dcaa;
  background-color: #fff;
}
.btn-tab-sign {
  width: 200px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  padding: 13px;
  margin-bottom: 30px;
  border: 0;
  border-radius: 25px;
  outline: none;
  border: 2px solid #55dcaa;
  background-color: #fff;
}

.btn-tab-log:hover,
.btn-tab-log:focus {
  background-color: #55dcaa;
  cursor: pointer;
  color: #fff;
}
.btn-tab-sign:hover,
.btn-tab-sign:focus {
  background-color: #55dcaa;
  cursor: pointer;
  color: #fff;
}
