@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

input:focus {
  border-color: #55dcaa;
}

.tab-content form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-company-name-registr {
  width: 450px;
  padding: 10px;
  margin-bottom: 25px;
  border: 0;
  border: 1px solid #c2bfbf;
  border-radius: 15px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

.input-registr-email {
  width: 450px;
  padding: 10px;
  margin-bottom: 25px;
  border: 0;
  border: 1px solid #c2bfbf;
  border-radius: 15px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

.registr-name-phone-container {
  display: flex;
}
.input-registr-name {
  width: 200px;
  padding: 10px;
  margin-bottom: 25px;
  border: 0;
  border: 1px solid #c2bfbf;
  border-radius: 15px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  margin-right: 46px;
}

.input-registr-phone {
  width: 200px;
  padding: 10px;
  margin-bottom: 25px;
  border: 0;
  border: 1px solid #c2bfbf;
  border-radius: 15px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}
.email-registr-relative {
  position: relative;
}
.phone-registr-relative {
  position: relative;
}

.new-password-registr {
  width: 450px;
  padding: 10px;
  margin-bottom: 25px;
  border: 0;
  border: 1px solid #c2bfbf;
  border-radius: 15px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

.new-password-registr-relative {
  position: relative;
}
.confirm-password-registr {
  width: 450px;
  padding: 10px;
  margin-bottom: 25px;
  border: 0;
  border: 1px solid #c2bfbf;
  border-radius: 15px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

.confirm-password-registr-relative {
  position: relative;
}

.container-checkbox {
  margin-bottom: 25px;
  font-family: inherit;
  font-size: 14px;
}

.checkbox {
  transform: scale(1.5);
  opacity: 0.9;
  cursor: pointer;
  background-color: #55dcaa;
  border-color: blue;
}

.btn-registr {
  width: 450px;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  margin-bottom: 17px;
  border: 0;
  border-radius: 25px;
  outline: none;
  border: 2px solid #55dcaa;
  background-color: #fff;
}

.btn-registr:hover,
.btn-registr:focus {
  background-color: #55dcaa;
  cursor: pointer;
  color: #fff;
}

/* eyes for password  */
.eye-for-pass-block {
  position: relative;
}
.eye-on-pass {
  position: absolute;
  top: 14px;
  left: 418px;
  display: none;
  cursor: pointer;
}

.eye-off-pass {
  position: absolute;
  top: 14px;
  left: 418px;
  cursor: pointer;
}

.eye-confirm-on-pass {
  position: absolute;
  top: 14px;
  left: 418px;
  display: none;
  cursor: pointer;
}

.eye-confirm-off-pass {
  position: absolute;
  top: 14px;
  left: 418px;
  cursor: pointer;
}

.eye-off-pass:hover,
.eye-on-pass:hover {
  color: #55dcaa;
}
.eye-confirm-off-pass:hover,
.eye-confirm-on-pass:hover {
  color: #55dcaa;
}
