.invalid {
  color: red;
  border-color: red;
}

.notification-for-pass {
  width: 430px;
  background-color: rgb(204, 198, 198);
  color: black;
  position: absolute;
  top: 45px;
  right: 16px;
  font-size: 12px;
  z-index: 1;
  border-radius: 5px;
}

.for-text-fail-email {
  width: 430px;
  background-color: rgb(204, 198, 198);
  color: black;
  position: absolute;
  top: 45px;
  right: 15px;
  font-size: 12px;
  z-index: 1;
  border-radius: 5px;
}

.for-not-match-pass {
  width: 430px;
  /* border: 1px solid grey; */
  background-color: rgb(204, 198, 198);
  color: black;
  position: absolute;
  top: 45px;
  right: 19px;
  font-size: 12px;
  z-index: 1;
  border-radius: 5px;
}

.error-registr {
  color: red;
  position: absolute;
  top: 230px;
}

.error-email {
  color: red;
  position: absolute;
  top: 45px;
}

.error-name {
  color: red;
  position: absolute;
  top: 368px;
}
.error-phone {
  color: red;
  position: absolute;
  top: 40px;
}

.error-password {
  color: red;
  position: absolute;
  top: 41px;
  right: 158px;
}

.error-confirm-password {
  color: red;
  position: absolute;
  top: 41px;
  right: 225px;
}
